Email: <%= @user.email %>

<!-- This will show everything in the user object <%= @user.inspect %> -->
<%= @item.inspect %>
<br/>
<br/>

ITEMS:
<br/>
<br/>
<ol>
  <% @user.items.each do |x| %>
    <li><%= x.name %></li>
  <% end %>
</ol>

<table style="width:100%">
  <% @user.items.each do |x| %>
    <tr>
      <td><%= link_to "", item_path(x.id), method: :delete, class: 'fa fa-check fa-xl' %></td>
      <td><%= x.name %></td>
      <td><i class="fa fa-trash fa-lg"></i></td>
    </tr>
  <% end %>
</table>

<%= form_for @item do |f| %>
  Name: <%= f.text_field :name %>
  <%= f.submit %>
<% end %>

<%#= link_to "ADD ANOTHER ITEM TO YOUR LIST OF INFINITE TREADMILL LIFE CHALLENGES", new_item_path %>
